
$violet: #9457EB;
$aqua: rgb(85, 184, 252);
$grass: #00AB66;
$raspberry: #D70A53;
$blue: #006DB0;
$yellow: #FADA5E;


.type-color-violet{
  color: $violet;
}
.type-color-aqua{
  color: $aqua;
}
.type-color-grass{
  color: $grass;
}
.type-color-red{
  color: $raspberry;
}
.type-color-blue{
  color: $blue;
}
.type-color-yellow{
  color: $yellow;
}

.type-border-color-violet{
  //background: rgba($yellow, 0.13);
  //font-weight: bold;
  //padding: 4px 7px;
  //border-radius: 5px;
  border: 1px solid $violet;
}
.type-border-color-aqua{
  border: 1px solid $aqua;
}
.type-border-color-grass{
  border: 1px solid $grass;
}
.type-border-color-red{
  border: 1px solid $raspberry;
}
.type-border-color-blue{
  border: 1px solid $blue;
}
.type-border-color-yellow{
  border: 1px solid $yellow;
}

.type-background-color-violet{
  color: #ffffff;
  background: $violet;
}
.type-background-color-grass{
  color: #ffffff;
  background: $grass;
}
.type-background-color-aqua{
  color: #ffffff;
  background: $aqua;
}
.type-background-color-red{
  color: #ffffff;
  background: $raspberry;
}
.type-background-color-blue{
  color: #ffffff;
  background: $blue;
}
.type-background-color-yellow{
  color: #ffffff;
  background: $yellow;
}